* {
	box-sizing: border-box;
}


/**
 * Correct the line height in all browsers
 * Prevent adjustments of font size after orientation changes in iOS
 */

html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
}


/**
 * Sections
 */

body {
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

p {
	margin: 0;
}

hr {
	margin: 0;
}


/**
 * Lists
 */

ul, ol {
	margin: 0;
	padding: 0;
}


/**
 * Forms
 */


input{
	padding: 0;
}

textarea {
	padding: 0;
}

fieldset {
	border: none;
	padding: 0;
	margin: 0;
}
